body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
}

.contenedor{
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    //Toma el espacio sobrante lo divide entre dos y lo centra sobre el eje y
    justify-content: space-around;
}

.contenedor > .row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contenedor > .row > div{
    width: 20vw;
    height: 20vh;
    border: 2px solid red ;
    position: relative;
}

img{
    width: 20vw;
    height: 20vh;
    display: block;
    border: 2px solid blue;
    opacity: 1;
}

.contenedor > .row > div > span{
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    visibility: hidden;
    font-size: 30px;
}

img:after{
    content: attr('data-text');
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: cyan;
}

.contenedor > .row > div:hover > img{
    opacity: 0.5;
    transition: 1s;
}

.contenedor > .row > div:hover > span{
    visibility: visible;

}